In [1]:
#1
import pandas as pd
import numpy as np

In [2]:
#2
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
#test-3
df = pd.read_sas('./hn10_24rc.sas7bdat', format='sas7bdat')
tmp_df.rename(columns={'NF_FIBER':'NF_tdf'}, inplace=True)

In [4]:
df.isnull().sum()

mod_d              0
ID                 0
ID_fam             0
year               0
region             0
town_t             0
apt_t              0
psu                0
sex                0
age                0
age_month     436276
incm            5373
ho_incm         5373
incm5           5373
ho_incm5        5373
edu            32843
occp          132771
wt_hs              0
wt_itvex       28618
wt_pft        317250
wt_hm         354876
wt_ntr             0
wt_tot         28618
wt_pfhm       428049
wt_pfnt       317250
wt_hmnt       354876
wt_pfhmnt     428049
kstrata            0
kstrata0           0
N_DIET             0
N_DIET_WHY         0
N_DT_DS       451354
N_DT_ETC      468581
N_DUSUAL           0
N_WAT_C            0
N_PRG              0
N_BFD_Y            0
N_DAY              0
N_MEAL             0
N_MEAL_T           0
N_MEAL_P           0
N_MTYPE            0
N_DNAME            0
N_DCODE            0
N_CD_VOL        9579
N_CD_WT       161232
N_TD_VOL      261887
N_TD_WT       413119
N_FCODE         3415
N_FNAME         3415
N_ENAME        46111
N_PROC          3415
N_FD_NS       255672
N_FM_WT         3415
N_PRODUCT     427047
N_CNAME       476959
N_AP            3415
N_KINDG1        3415
N_KINDG2        3415
N_FCODE2        3415
N_FNAME2        3415
N_FCODE3        3415
N_FNAME3        3415
NF_INTK         3415
NF_INTK3        3415
NF_EN           3415
NF_WATER        3415
NF_PROT         3415
NF_FAT          3415
NF_CHO          3415
NF_FIBER        3415
NF_ASH          3415
NF_CA           3415
NF_PHOS         3415
NF_FE           3415
NF_NA           3415
NF_K            3415
NF_VA           3415
NF_CAROT        3415
NF_RETIN        3415
NF_B1           3415
NF_B2           3415
NF_NIAC         3415
NF_VITC         3415
NS_NAME       473549
NS_CNAME      473549
NS_AM         473593
NS_AM_U       473592
NS_VOL        476947
NS_WT         476938
NS_CODE       473549
NS_MACH       473549
NS_CA         473661
NS_PHOS       473661
NS_FE         473661
NS_VA         473661
NS_B1         473661
NS_B2         473661
NS_NIAC       473661
NS_VITC       473661
dtype: int64

In [18]:
#null값 df형태로 가져오기
nan_rows = df[df['occp'].isnull()]
nan_rows.head()

,ID,ID_fam,year,region,apt_t,psu,sex,age_month,incm5,ho_incm5,edu,occp,kstrata,N_DIET,N_DIET_WHY,N_DT_DS,N_DT_ETC,N_DUSUAL,N_WAT_C,N_PRG,N_BFD_Y,N_DAY,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_CD_VOL,N_CD_WT,N_TD_VOL,N_TD_WT,N_FCODE,N_FNAME,N_ENAME,N_FD_NS,N_FM_WT,N_PRODUCT,N_CNAME,N_KINDG1,NF_INTK,NF_EN,NF_WATER,NF_PROT,NF_FAT,NF_CHO,NF_FIBER,NF_CA,NF_PHOS,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_NIAC,NF_VITC
152,b'A308120203',b'A3081202',2010.0,1.0,2.0,b'A308',2.0,48.0,3.0,3.0,1.0,NaN,501.0,1.0,3.0,NaN,b'\xb0\xa8\xb1\xe2',b'3',2.0,8.0,2.0,b'\xc8\xad',1.0,b'0830',1.0,1.0,b'\xbd\xba\xc5\xd7\xc0\xcc\xc5\xa9',b'40862',157.0,167.1,NaN,NaN,b'01026',"b'\xb9\xd0,\xb9\xd0\xb0\xa1\xb0\xf8\xbd\xc4\xc...","b'Wheat, Wheat products, Wheat flour, Bread cr...",NaN,10.13,NaN,NaN,b'01',0.974287,3.458718,0.078917,0.138349,0.036049,0.705384,0.001949,0.282543,1.081458,0.008769,5.212433,1.042487,0.000000,0.000000,0.0,0.012666,0.000000
153,b'A308120203',b'A3081202',2010.0,1.0,2.0,b'A308',2.0,48.0,3.0,3.0,1.0,NaN,501.0,1.0,3.0,NaN,b'\xb0\xa8\xb1\xe2',b'3',2.0,8.0,2.0,b'\xc8\xad',1.0,b'0830',1.0,1.0,b'\xbd\xba\xc5\xd7\xc0\xcc\xc5\xa9',b'40862',157.0,167.1,NaN,NaN,b'16071',"b'\xc8\xc4\xc3\xdf\xb0\xa1\xb7\xe7,\xb0\xcb\xc...","b'Pepper, Black, Ground'",NaN,0.86,NaN,NaN,b'11',0.082713,0.253103,0.012490,0.009347,0.003391,0.054839,0.008519,0.232425,0.138131,0.016129,0.038048,0.912329,0.018197,0.109182,0.0,0.000910,0.000000
154,b'A308120203',b'A3081202',2010.0,1.0,2.0,b'A308',2.0,48.0,3.0,3.0,1.0,NaN,501.0,1.0,3.0,NaN,b'\xb0\xa8\xb1\xe2',b'3',2.0,8.0,2.0,b'\xc8\xad',1.0,b'0830',1.0,1.0,b'\xbd\xba\xc5\xd7\xc0\xcc\xc5\xa9',b'40862',157.0,167.1,NaN,NaN,b'16067',b'\xc5\xe4\xb8\xb6\xc5\xe4\xc4\xc9\xc3\xb8',b'Tomato ketchup',NaN,14.00,NaN,NaN,b'11',1.346497,1.602331,0.836175,0.024237,0.001346,0.437611,0.008079,0.094255,0.484739,0.010772,13.155274,7.257618,1.885096,0.000000,0.0,0.006732,0.121185
155,b'A308120203',b'A3081202',2010.0,1.0,2.0,b'A308',2.0,48.0,3.0,3.0,1.0,NaN,501.0,1.0,3.0,NaN,b'\xb0\xa8\xb1\xe2',b'3',2.0,8.0,2.0,b'\xc8\xad',1.0,b'0830',1.0,1.0,b'\xbd\xba\xc5\xd7\xc0\xcc\xc5\xa9',b'40862',157.0,167.1,NaN,NaN,b'16058',"b'\xc1\xb6\xb9\xcc\xbc\xd2(MSG97.5%,\xc7\xd9\x...",b'97.5% M.S.G. & 2.5% Nucleic acid',NaN,0.20,NaN,NaN,b'11',0.019236,0.039048,0.000115,0.009137,0.000019,0.004674,0.000019,0.000000,0.014811,0.000289,3.067127,0.000192,0.000000,0.000000,0.0,0.000019,0.000000
156,b'A308120203',b'A3081202',2010.0,1.0,2.0,b'A308',2.0,48.0,3.0,3.0,1.0,NaN,501.0,1.0,3.0,NaN,b'\xb0\xa8\xb1\xe2',b'3',2.0,8.0,2.0,b'\xc8\xad',1.0,b'0830',1.0,1.0,b'\xbd\xba\xc5\xd7\xc0\xcc\xc5\xa9',b'40862',157.0,167.1,NaN,NaN,b'16038',"b'\xbc\xd2\xb1\xdd,\xbd\xc4\xbf\xb0'","b'Salt, Table salt'",NaN,2.00,NaN,NaN,b'11',0.192357,0.000000,0.000577,0.000000,0.000000,0.000000,0.000000,0.076943,0.000000,0.000385,64.626076,0.259682,0.000000,0.000000,0.0,0.000000,0.000000

In [9]:
#null값 인덱스 가져오기
nan_rows_number = df[df['incm'].isnull()].index.tolist()
len(nan_rows_number)

5373

In [10]:
#3 / test-4
def eda_process(tmp):
    #1. age_month 결측치 처리
    tmp['age_month'].fillna(tmp['age']*12, inplace=True)
    #df['age_month'].isnull().sum()
    
    #2. 사용할 피쳐 남기고 제거
    features = ['ID','ID_fam','year','region','psu','apt_t','sex',
                'age_month','incm5','ho_incm5','edu','occp','kstrata',
                'N_BFD_Y','N_DAY','N_DCODE','N_DNAME','N_DIET','N_DIET_WHY',
                'N_DUSUAL','N_FCODE','N_MTYPE','N_MEAL','N_MEAL_P','N_MEAL_T',
                'N_FNAME','N_KINDG1','N_FM_WT','N_PRG','N_WAT_C','NF_CA',
                'NF_FAT','NF_CAROT','NF_CHO','NF_NA','NF_EN','NF_K','NF_FE',
                'NF_INTK','NF_NIAC','NF_PHOS','NF_PROT','NF_WATER','NF_RETIN',
                'NF_VITC','NF_VA','NF_tdf']
    tmp = tmp[tmp.columns.intersection(features)]
    
    #3. N_DT_DS, N_DT_ETC 결측치 채우기 (바이너리 0으로) / 분류가 아니라 설문이라 drop
#     tmp['N_DT_DS'].fillna(0, inplace=True)
#     tmp['N_DT_ETC'].fillna(0, inplace=True)
    
    #4. 특정행 결측치 제거
    tmp.dropna(
        subset=[
            'incm5','ho_incm5','edu','occp',
            'N_FCODE','N_FNAME','N_FM_WT','N_KINDG1','NF_INTK','NF_EN','NF_WATER',
            'NF_PROT','NF_FAT','NF_CHO','NF_tdf','NF_CA','NF_PHOS','NF_FE',
            'NF_NA','NF_K','NF_VA','NF_CAROT','NF_RETIN','NF_NIAC','NF_VITC'
        ],
        inplace=True)
    
#     #5. euc-kr로 디코드
#     #바이트 -> euc-kr로 디코딩 할 피쳐
#     decode_utf8_feature = ['ID','ID_fam','psu','N_DUSUAL','N_MEAL_T',
#                       'N_DCODE','N_FCODE','N_KINDG1']
#     decode_euckr_feature = ['N_DAY','N_DNAME','N_FNAME']
    
#     for x in decode_utf8_feature:
#         print(x)
#         df[x] = df[x].str.decode('utf-8')#cp949
# #         df[x] = df[x].str.encode('utf-8')

#     for x in decode_euckr_feature:
#         df[x] = df[x].str.decode('euc-kr')

#     df[decode_euckr_feature] = map(lambda x: x.encode('ascii','strict'), df[decode_euckr_feature])
#     df[decode_euckr_feature] = map(lambda x: x.str.decode('utf-8'), df[decode_euckr_feature])
    

    #약 4시간 정도 공부한 듯..
    #파일마다 특정 인코딩 형태로 되어있을 확률이 높으니,
    #csv로 저장한 후 utf-8 형태로 불러오는 것이 최선일 것 같다.
    
    #중복제거
    tmp.drop_duplicates(keep='first', inplace=True)
    
    print('DataFrame Shape : ',tmp.shape)
    
    return tmp

In [ ]:
#test-5
df = eda_process(df)

In [6]:
df.duplicated().sum()

0

In [7]:
df.head(5)

,ID,ID_fam,year,region,apt_t,psu,sex,age_month,incm5,ho_incm5,edu,occp,kstrata,N_DIET,N_DIET_WHY,N_DUSUAL,N_WAT_C,N_PRG,N_BFD_Y,N_DAY,N_MEAL,N_MEAL_T,N_MEAL_P,N_MTYPE,N_DNAME,N_DCODE,N_FCODE,N_FNAME,N_FM_WT,N_KINDG1,NF_INTK,NF_EN,NF_WATER,NF_PROT,NF_FAT,NF_CHO,NF_FIBER,NF_CA,NF_PHOS,NF_FE,NF_NA,NF_K,NF_VA,NF_CAROT,NF_RETIN,NF_NIAC,NF_VITC
0,b'A308059801',b'A3080598',2010.0,1.0,2.0,b'A308',1.0,732.0,3.0,3.0,3.0,5.0,501.0,1.0,1.0,b'1',5.0,8.0,8.0,b'\xbc\xf6',2.0,b'1200',1.0,1.0,b'\xb9\xcc\xbf\xaa\xb1\xb9',b'70545',b'06121',"b'\xb8\xb6\xb4\xc3,\xb1\xb8\xb1\xd9,\xb1\xb9\x...",0.82,b'06',0.891304,1.123043,0.562413,0.048130,0.000000,0.267391,0.008913,0.089130,1.461739,0.016935,0.026739,5.918261,0.000000,0.000000,0.0,0.003565,0.249565
1,b'A308059801',b'A3080598',2010.0,1.0,2.0,b'A308',1.0,732.0,3.0,3.0,3.0,5.0,501.0,1.0,1.0,b'1',5.0,8.0,8.0,b'\xbc\xf6',2.0,b'1200',1.0,1.0,b'\xb9\xcc\xbf\xaa\xb1\xb9',b'70545',b'16038',"b'\xbc\xd2\xb1\xdd,\xbd\xc4\xbf\xb0'",1.25,b'11',1.358696,0.000000,0.004076,0.000000,0.000000,0.000000,0.000000,0.543478,0.000000,0.002717,456.480978,1.834239,0.000000,0.000000,0.0,0.000000,0.000000
2,b'A308059801',b'A3080598',2010.0,1.0,2.0,b'A308',1.0,732.0,3.0,3.0,3.0,5.0,501.0,1.0,1.0,b'1',5.0,8.0,8.0,b'\xbc\xf6',2.0,b'1200',1.0,1.0,b'\xb9\xcc\xbf\xaa\xb1\xb9',b'70545',b'16002',"b'\xb0\xa3\xc0\xe5,\xc0\xe7\xb7\xa1\xb0\xa3\xc...",3.67,b'11',3.989130,2.114239,2.808348,0.307163,0.011967,0.195467,0.000000,1.515870,6.183152,0.035902,285.502065,15.557609,0.000000,0.000000,0.0,0.047870,0.000000
3,b'A308059801',b'A3080598',2010.0,1.0,2.0,b'A308',1.0,732.0,3.0,3.0,3.0,5.0,501.0,1.0,1.0,b'1',5.0,8.0,8.0,b'\xbc\xf6',2.0,b'1200',1.0,1.0,b'\xb9\xcc\xbf\xaa\xb1\xb9',b'70545',b'14023',b'\xc2\xfc\xb1\xe2\xb8\xa7',0.71,b'12',0.771739,6.822174,0.000000,0.000000,0.771739,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
4,b'A308059801',b'A3080598',2010.0,1.0,2.0,b'A308',1.0,732.0,3.0,3.0,3.0,5.0,501.0,1.0,1.0,b'1',5.0,8.0,8.0,b'\xbc\xf6',2.0,b'1200',1.0,1.0,b'\xb9\xcc\xbf\xaa\xb1\xb9',b'70545',b'12035',"b'\xb9\xcc\xbf\xaa,\xb8\xb6\xb8\xa5\xb0\xcd,\x...",5.76,b'09',6.260870,6.076049,1.001739,1.252174,0.181565,2.272696,0.150261,60.041739,19.220870,0.569739,381.913043,344.347826,34.747826,208.486957,0.0,0.281739,1.126957

In [7]:
df.isnull().sum()

ID            0
ID_fam        0
year          0
region        0
apt_t         0
psu           0
sex           0
age_month     0
incm5         0
ho_incm5      0
edu           0
occp          0
kstrata       0
N_DIET        0
N_DIET_WHY    0
N_DUSUAL      0
N_WAT_C       0
N_PRG         0
N_BFD_Y       0
N_DAY         0
N_MEAL        0
N_MEAL_T      0
N_MEAL_P      0
N_MTYPE       0
N_DNAME       0
N_DCODE       0
N_FCODE       0
N_FNAME       0
N_FM_WT       0
N_KINDG1      0
NF_INTK       0
NF_EN         0
NF_WATER      0
NF_PROT       0
NF_FAT        0
NF_CHO        0
NF_FIBER      0
NF_CA         0
NF_PHOS       0
NF_FE         0
NF_NA         0
NF_K          0
NF_VA         0
NF_CAROT      0
NF_RETIN      0
NF_NIAC       0
NF_VITC       0
dtype: int64

In [8]:
#test-6
df.to_csv('./hn10_24rc.csv',index=False)

In [78]:
arr = [b'\xbc\xf6', b'\xc8\xad', b'\xb8\xf1', b'\xbf\xf9', b'\xc0\xcf',
       b'\xc5\xe4', b'\xb1\xdd']

for x in arr:
    print(x.decode('euc-kr'))

수
화
목
월
일
토
금

In [13]:
#4
def readSas_CallEDA(filenames):
    
    for x in filenames:
        fname = x.split('.')
        tmp_df = pd.read_sas(f'./{x}', format='sas7bdat')
        
        print('file name : ',x,
              ' and columns count : ', len(tmp_df.columns.tolist()))
#         print(fname[0])
    
        if(fname[0] == 'hn19_24rc'):
            print('19년도 NF_VA_RAE -> NF_VA')
            tmp_df.rename(columns={'NF_VA_RAE':'NF_VA'}, inplace=True)
        
        if((fname[0] == 'hn11_24rc') | (fname[0] == 'hn12_24rc')):
            print('10~12 NF_FIBER -> NF_tdf 변경')
            tmp_df.rename(columns={'NF_FIBER':'NF_tdf'}, inplace=True)
#             print(tmp_df.columns.tolist())
        
        #예외가 생김ㅠㅠ
        if((fname[0] == 'hn15_24rc') |
           (fname[0] == 'hn16_24rc') |
           (fname[0] == 'hn17_24rc') |
           (fname[0] == 'hn18_24rc') |
           (fname[0] == 'hn19_24rc') |
           (fname[0] == 'hn20_24rc')):
            print('10~12 NF_FIBER -> NF_tdf 변경')
            tmp_df.rename(columns={'NF_TDF':'NF_tdf'}, inplace=True)
        
        # EDA FUNCTION CALL
        tmp_df = eda_process(tmp_df)
        
        tmp_df.to_csv(f'./{fname[0]}.csv',index=False)
        
        #메모리때문에 루프 한번 돌면 지워준다.
        del tmp_df

In [ ]:
#5
files = ['hn11_24rc.sas7bdat','hn12_24rc.sas7bdat','hn13_24rc.sas7bdat',
        'hn14_24rc.sas7bdat','hn15_24rc.sas7bdat','hn16_24rc.sas7bdat',
         'hn17_24rc.sas7bdat','hn18_24rc.sas7bdat','hn19_24rc.sas7bdat']
readSas_CallEDA(files)

In [18]:
df = pd.read_sas('./hn11_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_hm', 'wt_ex1', 'wt_ntr', 'wt_tot', 'wt_pfhm', 'wt_pfnt', 'wt_hmnt', 'wt_pfhmnt', 'wt_ex1nt', 'wt_ex1pf', 'wt_ex1hm', 'wt_ex1pfnt', 'wt_ex1hmnt', 'wt_tot1', 'wt_tot1nt', 'kstrata', 'kstrata0', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_PROC', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE2', 'N_FNAME2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_CHO', 'NF_FIBER', 'NF_ASH', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_VITC', 'NS_NAME', 'NS_CNAME', 'NS_AM', 'NS_AM_U', 'NS_VOL', 'NS_WT', 'NS_CODE', 'NS_MACH', 'NS_CA', 'NS_PHOS', 'NS_FE', 'NS_VA', 'NS_B1', 'NS_B2', 'NS_NIAC', 'NS_VITC']

In [ ]:
df = eda_process(df)
df.to_csv('./hn11_24rc.csv',index=False)

In [4]:
df = pd.read_sas('./hn12_24rc.sas7bdat', format='sas7bdat')
df.columns

Index(['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu',
       'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5',
       'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_hm', 'wt_ntr',
       'wt_tot', 'wt_pfhm', 'wt_pfnt', 'wt_hmnt', 'wt_pfhmnt', 'kstrata',
       'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C',
       'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P',
       'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL',
       'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_PROC', 'N_FD_NS',
       'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2',
       'N_FCODE2', 'N_FNAME2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3',
       'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_CHO', 'NF_FIBER',
       'NF_ASH', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA',
       'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_VITC'],
      dtype='object')

In [10]:
df = pd.read_sas('./hn13_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

121

In [10]:
df = pd.read_sas('./hn14_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_tr', 'wt_ntr', 'wt_tot', 'wt_pftr', 'wt_pfnt', 'wt_trnt', 'wt_pftrnt', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_PROC', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE2', 'N_FNAME2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_chol', 'NF_CHO', 'NF_tdf', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_VITC']

In [11]:
df = pd.read_sas('./hn15_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_tr', 'wt_ntr', 'wt_tot', 'wt_pftr', 'wt_pfnt', 'wt_trnt', 'wt_pftrnt', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_PROC', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE2', 'N_FNAME2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_VITC', 'NS_NAME', 'NS_CNAME', 'NS_AM', 'NS_AM_U', 'NS_VOL', 'NS_WT', 'NS_CODE', 'NS_CA', 'NS_PHOS', 'NS_FE', 'NS_VA', 'NS_B1', 'NS_B2', 'NS_NIAC', 'NS_VITC']

In [12]:
df = pd.read_sas('./hn16_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_hm', 'wt_vt', 'wt_ntr', 'wt_tot', 'wt_pfhm', 'wt_pfvt', 'wt_pfnt', 'wt_hmnt', 'wt_vtnt', 'wt_pfhmnt', 'wt_pfvtnt', 'wt_nn', 'wt_nnnt', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_MEAL_W', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC', 'NS_NAME', 'NS_CNAME', 'NS_AM', 'NS_AM_U', 'NS_VOL', 'NS_WT', 'NS_CODE', 'NS_CA', 'NS_PHOS', 'NS_FE', 'NS_VA_RAE', 'NS_B1', 'NS_B2', 'NS_NIAC', 'NS_VITC']

In [13]:
df = pd.read_sas('./hn17_24rc.sas7bdat', format='sas7bdat')
print(df.columns.tolist())

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_hm', 'wt_vt', 'wt_ex1', 'wt_ntr', 'wt_tot', 'wt_pfhm', 'wt_pfvt', 'wt_pfnt', 'wt_hmnt', 'wt_vtnt', 'wt_pfhmnt', 'wt_pfvtnt', 'wt_ex1nt', 'wt_ex1hm', 'wt_ex1pf', 'wt_tot1', 'wt_ex1pfnt', 'wt_ex1hmnt', 'wt_tot1nt', 'wt_nn', 'wt_nnnt', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_MEAL_W', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC', 'NS_NAME', 'NS_CNAME', 'NS_AM', 'NS_AM_U', 'NS_VOL', 'NS_WT', 'NS_CODE', 'NS_CA', 'NS_PHOS', 'NS_FE', 'NS_VA_RAE', 'NS_B1', 'NS_B2', 'NS_NIAC', 'NS_VITC']

In [14]:
df = pd.read_sas('./hn18_24rc.sas7bdat', format='sas7bdat')
print(df.columns.values)

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_pft', 'wt_vt', 'wt_nn', 'wt_ntr', 'wt_tot', 'wt_pfnt', 'wt_pfvt', 'wt_pfvtnt', 'wt_vtnt', 'wt_nnnt', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MEAL_W', 'N_MTYPE', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_KINDG2', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC']

In [15]:
df = pd.read_sas('./hn19_24rc.sas7bdat', format='sas7bdat')
print(df.columns.values)

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_ntr', 'wt_tot', 'wt_pft', 'wt_pfnt', 'wt_oe', 'wt_oent', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_MEAL_W', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC']

In [17]:
df = pd.read_sas('./hn20_24rc.sas7bdat', format='sas7bdat')
print(df.columns.values)

['mod_d', 'ID', 'ID_fam', 'year', 'region', 'town_t', 'apt_t', 'psu', 'sex', 'age', 'age_month', 'incm', 'ho_incm', 'incm5', 'ho_incm5', 'edu', 'occp', 'wt_hs', 'wt_itvex', 'wt_oe', 'wt_ntr', 'wt_tot', 'wt_oent', 'kstrata', 'N_DIET', 'N_DIET_WHY', 'N_DT_DS', 'N_DT_ETC', 'N_DUSUAL', 'N_WAT_C', 'N_PRG', 'N_BFD_Y', 'N_DAY', 'N_MEAL', 'N_MEAL_T', 'N_MEAL_P', 'N_MTYPE', 'N_MEAL_W', 'N_DNAME', 'N_DCODE', 'N_CD_VOL', 'N_CD_WT', 'N_TD_VOL', 'N_TD_WT', 'N_FCODE', 'N_FNAME', 'N_ENAME', 'N_FD_NS', 'N_FM_WT', 'N_PRODUCT', 'N_CNAME', 'N_AP', 'N_KINDG1', 'N_FCODE3', 'N_FNAME3', 'NF_INTK', 'NF_INTK3', 'NF_EN', 'NF_WATER', 'NF_PROT', 'NF_FAT', 'NF_SFA', 'NF_MUFA', 'NF_PUFA', 'NF_N3', 'NF_N6', 'NF_10_0', 'NF_12_0', 'NF_14_0', 'NF_16_0', 'NF_18_0', 'NF_20_0', 'NF_22_0', 'NF_24_0', 'NF_14_1', 'NF_16_1', 'NF_18_1', 'NF_20_1', 'NF_22_1', 'NF_24_1', 'NF_18_2N6', 'NF_18_3N3', 'NF_18_3N6', 'NF_18_4', 'NF_20_2', 'NF_20_3N6', 'NF_20_4N6', 'NF_20_5N3', 'NF_22_2', 'NF_22_5', 'NF_22_6N3', 'NF_CHOL', 'NF_CHO', 'NF_TDF', 'NF_SUGAR', 'NF_CA', 'NF_PHOS', 'NF_FE', 'NF_NA', 'NF_K', 'NF_VA_RAE', 'NF_CAROT', 'NF_RETIN', 'NF_B1', 'NF_B2', 'NF_NIAC', 'NF_FOLATE', 'NF_VITC']