In [1]:
import pandas as pd
import numpy as np

In [2]:
# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [3]:
df = pd.read_csv('./hn17_24rc_sub.csv') # 17 18 19

In [4]:
print(df.shape, df['N_DAY'].unique())

(390737, 47) ['금' '일' '토' '월' '화' '수' '목']

In [5]:
feature = ['ID','ID_fam','N_DAY','incm5','ho_incm5','age_month','sex','N_PRG','N_WAT_C','NF_CA','NF_CAROT','NF_NA','NF_EN','NF_K','NF_FE','NF_NIAC','NF_PHOS','NF_WATER','NF_RETIN','NF_VITC','NF_VA','NF_tdf','NF_PROT','NF_CHO','NF_FAT','NF_INTK']
NF_feature = ['N_WAT_C','NF_CA','NF_CAROT','NF_NA','NF_EN','NF_K','NF_FE','NF_NIAC','NF_PHOS','NF_WATER','NF_RETIN','NF_VITC','NF_VA','NF_tdf','NF_PROT','NF_CHO','NF_FAT','NF_INTK']

In [6]:
#각 날짜에 먹은 것 다 합치기

# np.unique(df[['ID', 'ID_fam']].values)
# data = pd.DataFrame(pd.concat([df['ID'], df['ID_fam']]).unique())
unique_id = df[['ID','ID_fam']]
unique_id = unique_id.drop_duplicates(subset=['ID','ID_fam'], keep='first', ignore_index=True)
print(unique_id.shape)
unique_id.head()

(5322, 2)

           ID    ID_fam
0  A601169401  A6011694
1  A601177901  A6011779
2  A601177902  A6011779
3  A601208501  A6012085
4  A601208502  A6012085

In [7]:
data = pd.DataFrame()
    
for idx, row in unique_id.iterrows():
    if(idx % 1000 == 0): print(idx)
    tmp = pd.DataFrame()
    tmp = pd.concat([
            tmp,
            df[NF_feature].loc[(df['ID'] == row['ID']) & (df['ID_fam']==row['ID_fam'])].sum()
        ])
#     row = df[['ID','ID_fam']].loc[(df['ID'] == 'A751220401') & (df['ID_fam']=='A7512204')]
    tmp = pd.concat([tmp,row.T])
#     data.append(tmp.T)
    data = pd.concat([data,tmp.T])

0
1000
2000
3000
4000
5000

In [8]:
data.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam
0,216.0,317.78128,764.1561,2577.834346,1813.325296,1770.26999,10.355133,8.174664,929.979401,421.525457,48.594103,30.376016,175.953453,18.310667,56.529938,335.561848,21.815209,846.981951,A601169401,A6011694
0,580.0,523.104015,2767.864724,5149.456302,1961.890868,3231.041442,12.899403,19.909764,1143.175427,1221.627159,27.518877,64.952643,488.829664,27.45934,85.982076,278.141424,53.139968,2010.518297,A601177901,A6011779
0,262.0,234.483667,1650.559116,2312.209126,1381.199679,1663.742918,8.798316,11.952044,773.295538,404.797292,20.530078,53.00258,295.623264,13.892026,58.111274,204.505883,34.87455,713.578427,A601177902,A6011779
0,78.0,1299.860157,1636.512509,1861.103434,1865.167508,2669.438842,19.434337,15.695029,1449.523431,513.295299,234.04,21.282909,506.792085,27.142239,73.769502,299.559886,38.550027,938.787566,A601208501,A6012085
0,392.0,498.364151,1833.052855,2856.320254,1537.673085,2043.584332,9.33338,6.786895,746.190947,606.9357,66.220924,29.736679,371.729734,19.961437,44.685709,298.222098,14.410892,974.949878,A601208502,A6012085

In [9]:
data

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam
0,216.0,317.78128,764.1561,2577.834346,1813.325296,1770.26999,10.355133,8.174664,929.979401,421.525457,48.594103,30.376016,175.953453,18.310667,56.529938,335.561848,21.815209,846.981951,A601169401,A6011694
0,580.0,523.104015,2767.864724,5149.456302,1961.890868,3231.041442,12.899403,19.909764,1143.175427,1221.627159,27.518877,64.952643,488.829664,27.45934,85.982076,278.141424,53.139968,2010.518297,A601177901,A6011779
0,262.0,234.483667,1650.559116,2312.209126,1381.199679,1663.742918,8.798316,11.952044,773.295538,404.797292,20.530078,53.00258,295.623264,13.892026,58.111274,204.505883,34.87455,713.578427,A601177902,A6011779
0,78.0,1299.860157,1636.512509,1861.103434,1865.167508,2669.438842,19.434337,15.695029,1449.523431,513.295299,234.04,21.282909,506.792085,27.142239,73.769502,299.559886,38.550027,938.787566,A601208501,A6012085
0,392.0,498.364151,1833.052855,2856.320254,1537.673085,2043.584332,9.33338,6.786895,746.190947,606.9357,66.220924,29.736679,371.729734,19.961437,44.685709,298.222098,14.410892,974.949878,A601208502,A6012085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,66.0,279.838653,952.036003,1892.45576,1296.477779,1755.932229,6.172509,8.120206,923.779438,828.279144,66.33579,70.617101,225.008457,20.200083,59.190279,197.908805,28.433362,1137.019367,R604313902,R6043139
0,40.0,117.446403,238.718206,889.569746,1056.610008,692.487671,4.33803,3.037648,456.572569,175.408813,122.37112,26.733953,162.157488,4.179579,31.046798,122.491636,47.813101,384.855485,R604313904,R6043139
0,117.0,356.10134,416.515019,3481.112562,1670.30349,1434.368794,4.398482,9.340296,713.23321,197.363402,28.866705,50.837792,98.285875,9.82089,45.16768,227.747467,61.094187,730.869844,R604313905,R6043139
0,225.0,303.973469,5124.810163,3137.347786,2166.203358,2555.759744,22.908132,15.61401,1015.793324,635.847478,20.752276,28.30656,874.887303,22.237796,83.366819,336.726656,49.388663,1116.466929,R604346201,R6043462
0,63.0,320.357452,1206.787658,2791.850525,2111.934444,2411.952266,10.248184,16.439453,1112.141131,665.943111,13.828097,32.728502,214.959374,16.537822,89.11301,283.788679,61.272058,1106.77824,R604346202,R6043462

In [10]:
data.to_csv('./17rc_eda.csv', index=False)

In [11]:
data = pd.read_csv('./17rc_eda.csv')
data.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam
0,216.0,317.781280,764.156100,2577.834346,1813.325296,1770.269990,10.355133,8.174664,929.979401,421.525457,48.594103,30.376016,175.953453,18.310667,56.529938,335.561848,21.815209,846.981951,A601169401,A6011694
1,580.0,523.104015,2767.864724,5149.456302,1961.890868,3231.041442,12.899403,19.909764,1143.175427,1221.627159,27.518877,64.952643,488.829664,27.459340,85.982076,278.141424,53.139968,2010.518297,A601177901,A6011779
2,262.0,234.483667,1650.559116,2312.209126,1381.199679,1663.742918,8.798316,11.952044,773.295538,404.797292,20.530078,53.002580,295.623264,13.892026,58.111274,204.505883,34.874550,713.578427,A601177902,A6011779
3,78.0,1299.860157,1636.512509,1861.103434,1865.167508,2669.438842,19.434337,15.695029,1449.523431,513.295299,234.040000,21.282909,506.792085,27.142239,73.769502,299.559886,38.550027,938.787566,A601208501,A6012085
4,392.0,498.364151,1833.052855,2856.320254,1537.673085,2043.584332,9.333380,6.786895,746.190947,606.935700,66.220924,29.736679,371.729734,19.961437,44.685709,298.222098,14.410892,974.949878,A601208502,A6012085

In [12]:
#중복값 확인
data.duplicated().sum()

0

In [13]:
Use_feature = ['NF_CA','NF_CAROT','NF_NA','NF_EN','NF_K','NF_FE','NF_NIAC','NF_PHOS','NF_WATER','NF_RETIN','NF_VITC','NF_VA','NF_PROT','NF_CHO','NF_FAT']

#INQ 구하기
# 1000칼로리 대 비율.
data['INQ'] = 0

#INQ = 1000kal당 영양소 섭취량
#칼로리 = 단백질 * 4 + 탄수화물 * 4 + 지방 * 9 / 1000

#INQ 계수 구하기
# data['INQ'] = (data['NF_PROT']*4) + (data['NF_CHO']*4) + data['NF_FAT']*9
#칼로리 데이터가 있었음
data['INQ'] = data['NF_EN'] / 1000

#INQ 구하기
#각 영양소 섭취량 / 각 권장량 * INQ 계수 -> 영양소 mean값

#각 영양소 권장량
NF_CA = 600mg
NF_CAROT = 6000IU
NF_NA = 2000mg
NF_EN = 2400kal
NF_K = 3500mg
NF_FE = 10mg
NF_NIAC = 14mg
NF_PHOS = 700mg
NF_WATER = 2500ml
NF_RETIN = 900ug / 3000 IU
NF_VITC = 100mg
NF_VA = 2500IU
NF_PROT = 70g
NF_CHO = 2000kal
NF_FAT = 13g

In [14]:
data.describe()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,INQ
count,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000,5322.000000
mean,372.724615,508.629380,2722.571160,3325.752065,1919.814075,2800.429399,11.881325,13.035343,1040.396048,959.985955,134.824331,62.747413,588.586191,25.231414,68.251686,294.407082,41.829687,1529.773410,1.919814
std,327.727179,310.144779,2644.882377,2175.115092,890.994053,1446.379543,7.321052,8.518512,521.610268,586.964613,368.626510,93.791352,605.512804,15.017892,39.607792,127.888363,33.798916,804.669637,0.890994
min,0.000000,3.350000,0.000000,12.664000,132.927195,0.000000,0.008040,0.002412,4.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.041540,9.045730,0.073700,35.475758,0.132927
25%,150.000000,298.489754,1070.918090,1903.770123,1316.390603,1792.123221,7.299123,7.883727,687.025048,529.031473,17.981827,22.393226,259.407116,14.959068,42.577832,207.469633,19.840000,961.479291,1.316391
50%,280.000000,446.355940,2017.504645,2917.066769,1770.102841,2565.725771,10.456856,11.393392,958.890528,848.677731,69.285634,41.456642,455.007932,22.205263,61.053521,276.158351,34.095363,1399.195896,1.770103
75%,495.000000,647.447867,3507.909455,4216.453190,2359.689655,3502.783849,14.561737,16.142103,1290.468093,1257.366479,153.886691,76.773166,741.049420,31.971744,84.824609,362.184648,54.567851,1948.728131,2.359690
max,3390.000000,4088.503938,41856.027690,41287.586496,11443.677234,19337.705138,107.307660,214.672138,6460.752349,5762.804934,11554.591698,4348.609280,14049.003247,136.148798,682.168960,1836.687658,558.795384,9621.120465,11.443677

In [15]:
#INQ값 구하기
data['NF_CA'] = (data['NF_CA']*data['INQ']) / 600
data['NF_CAROT'] = (data['NF_CAROT']*data['INQ']) / 6000
data['NF_NA'] = (data['NF_NA']*data['INQ']) / 2000
data['NF_EN'] = (data['NF_EN']*data['INQ']) / 2400
data['NF_K'] = (data['NF_K']*data['INQ']) / 3500
data['NF_FE'] = (data['NF_FE']*data['INQ']) / 10
data['NF_NIAC'] = (data['NF_NIAC']*data['INQ']) / 14
data['NF_PHOS'] = (data['NF_PHOS']*data['INQ']) / 700
data['NF_WATER'] = (data['NF_WATER']*data['INQ']) / 2500
data['NF_RETIN'] = (data['NF_RETIN']*data['INQ']) / 900
data['NF_VITC'] = (data['NF_VITC']*data['INQ']) / 10
data['NF_VA'] = (data['NF_VA']*data['INQ']) / 900
data['NF_PROT'] = (data['NF_PROT']*data['INQ']) / 70
data['NF_CHO'] = (data['NF_CHO']*data['INQ']) / 2000
data['NF_FAT'] = (data['NF_FAT']*data['INQ']) / 13

In [16]:
data.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam,INQ
0,216.0,0.960401,0.230944,2.337226,1.370062,0.917164,1.877722,1.058809,2.409079,0.305745,0.097908,5.508160,0.354512,18.310667,1.464388,0.304241,3.042929,846.981951,A601169401,A6011694,1.813325
1,580.0,1.710455,0.905041,5.051336,1.603757,1.811129,2.530722,2.790056,3.203979,0.958680,0.059988,12.743000,1.065589,27.459340,2.409821,0.272842,8.019601,2010.518297,A601177901,A6011779,1.961891
2,262.0,0.539781,0.379959,1.596811,0.794880,0.656560,1.215223,1.179154,1.525822,0.223642,0.031507,7.320715,0.453683,13.892026,1.146618,0.141232,3.705286,713.578427,A601177902,A6011779,1.381200
3,78.0,4.040762,0.508728,1.735635,1.449521,1.422557,3.624829,2.090990,3.862291,0.382953,0.485026,3.969619,1.050280,27.142239,1.965607,0.279365,5.530943,938.787566,A601208501,A6012085,1.865168
4,392.0,1.277202,0.469773,2.196043,0.985183,0.897818,1.435169,0.745430,1.639140,0.373307,0.113140,4.572529,0.635110,19.961437,0.981600,0.229284,1.704557,974.949878,A601208502,A6012085,1.537673

In [17]:
data['INQ'] = data[Use_feature].sum(axis=1) / len(Use_feature)

In [18]:
data.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam,INQ
0,216.0,0.960401,0.230944,2.337226,1.370062,0.917164,1.877722,1.058809,2.409079,0.305745,0.097908,5.508160,0.354512,18.310667,1.464388,0.304241,3.042929,846.981951,A601169401,A6011694,1.482619
1,580.0,1.710455,0.905041,5.051336,1.603757,1.811129,2.530722,2.790056,3.203979,0.958680,0.059988,12.743000,1.065589,27.459340,2.409821,0.272842,8.019601,2010.518297,A601177901,A6011779,3.009066
2,262.0,0.539781,0.379959,1.596811,0.794880,0.656560,1.215223,1.179154,1.525822,0.223642,0.031507,7.320715,0.453683,13.892026,1.146618,0.141232,3.705286,713.578427,A601177902,A6011779,1.394058
3,78.0,4.040762,0.508728,1.735635,1.449521,1.422557,3.624829,2.090990,3.862291,0.382953,0.485026,3.969619,1.050280,27.142239,1.965607,0.279365,5.530943,938.787566,A601208501,A6012085,2.159940
4,392.0,1.277202,0.469773,2.196043,0.985183,0.897818,1.435169,0.745430,1.639140,0.373307,0.113140,4.572529,0.635110,19.961437,0.981600,0.229284,1.704557,974.949878,A601208502,A6012085,1.217019

In [19]:
pd.options.display.float_format = '{:.2f}'.format

In [20]:
data.describe()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,INQ
count,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00,5322.00
mean,372.72,1.88,1.00,3.78,1.87,1.80,2.69,2.16,3.41,0.86,0.38,13.94,1.49,25.23,2.29,0.33,7.88,1529.77,3.05
std,327.73,2.08,1.39,4.43,2.20,1.94,3.38,3.23,4.01,0.93,2.04,30.25,2.94,15.02,3.13,0.32,13.55,804.67,3.87
min,0.00,0.00,0.00,0.00,0.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,35.48,0.00
25%,150.00,0.71,0.26,1.33,0.72,0.70,1.01,0.78,1.33,0.30,0.03,3.32,0.42,14.96,0.82,0.14,2.06,961.48,1.12
50%,280.00,1.34,0.62,2.58,1.31,1.32,1.88,1.44,2.47,0.60,0.13,7.57,0.91,22.21,1.54,0.25,4.65,1399.20,2.11
75%,495.00,2.40,1.22,4.68,2.32,2.29,3.35,2.64,4.26,1.11,0.35,16.09,1.75,31.97,2.80,0.41,9.40,1948.73,3.81
max,3390.00,36.96,30.04,97.58,54.57,40.20,91.50,101.06,88.31,22.27,104.80,1520.71,126.89,136.15,81.90,8.06,491.90,9621.12,108.31

In [21]:
data.to_csv('./18rc_eda.csv', index=False)

### 윗 작업 이후 아래 특성추가

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 100)

In [7]:
#df -> data

df = pd.read_csv('./hn19_24rc_sub.csv') # 17 18 19
data = pd.read_csv('./19rc_eda.csv') # 17 18 19

In [8]:
data.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam,INQ
0,390.0,1.777230,0.298594,2.848017,1.224672,1.081849,1.652995,1.328960,2.623862,0.753146,0.083448,4.351322,0.249334,12.697155,1.632664,0.245117,4.049739,1498.613655,A751220401,A7512204,1.613397
1,195.0,0.390325,0.233272,0.655838,0.239227,0.231853,0.640163,0.397402,0.547381,0.085092,0.060611,3.126026,0.190206,7.657742,0.523154,0.036522,1.056897,453.419350,A751220402,A7512204,0.560931
2,196.0,0.272494,0.001454,0.634369,0.256270,0.238343,0.299648,0.232795,0.567560,0.023947,0.000000,0.084881,0.000808,8.599347,0.280448,0.059576,0.444085,268.462033,A751222101,A7512221,0.226445
3,350.0,0.391297,0.216706,1.009051,0.263517,0.285772,0.668071,0.274602,0.749346,0.162474,0.079134,0.845649,0.199526,12.267019,0.543880,0.042677,1.089969,694.092040,A751227201,A7512272,0.454778
4,103.0,0.704217,0.348002,0.892264,0.450640,0.640132,0.603562,0.556568,1.168245,0.261070,0.105301,2.799546,0.298636,15.019540,0.585329,0.093190,1.645038,1008.852800,A751228901,A7512289,0.743449

In [9]:
Use_feature = ['ID', 'ID_fam', 'year', 'region', 'psu', 'apt_t', 'edu', 'occp']

In [10]:
tmp = df[Use_feature].drop_duplicates(subset=['ID','ID_fam'])
tmp.shape

left = pd.merge(data, tmp, on=['ID','ID_fam'], how='left')
left.head()

,N_WAT_C,NF_CA,NF_CAROT,NF_NA,NF_EN,NF_K,NF_FE,NF_NIAC,NF_PHOS,NF_WATER,NF_RETIN,NF_VITC,NF_VA,NF_tdf,NF_PROT,NF_CHO,NF_FAT,NF_INTK,ID,ID_fam,INQ,year,region,psu,apt_t,edu,occp
0,390.0,1.777230,0.298594,2.848017,1.224672,1.081849,1.652995,1.328960,2.623862,0.753146,0.083448,4.351322,0.249334,12.697155,1.632664,0.245117,4.049739,1498.613655,A751220401,A7512204,1.613397,2019.0,1.0,A751,1.0,3.0,7.0
1,195.0,0.390325,0.233272,0.655838,0.239227,0.231853,0.640163,0.397402,0.547381,0.085092,0.060611,3.126026,0.190206,7.657742,0.523154,0.036522,1.056897,453.419350,A751220402,A7512204,0.560931,2019.0,1.0,A751,1.0,3.0,1.0
2,196.0,0.272494,0.001454,0.634369,0.256270,0.238343,0.299648,0.232795,0.567560,0.023947,0.000000,0.084881,0.000808,8.599347,0.280448,0.059576,0.444085,268.462033,A751222101,A7512221,0.226445,2019.0,1.0,A751,1.0,2.0,7.0
3,350.0,0.391297,0.216706,1.009051,0.263517,0.285772,0.668071,0.274602,0.749346,0.162474,0.079134,0.845649,0.199526,12.267019,0.543880,0.042677,1.089969,694.092040,A751227201,A7512272,0.454778,2019.0,1.0,A751,1.0,4.0,7.0
4,103.0,0.704217,0.348002,0.892264,0.450640,0.640132,0.603562,0.556568,1.168245,0.261070,0.105301,2.799546,0.298636,15.019540,0.585329,0.093190,1.645038,1008.852800,A751228901,A7512289,0.743449,2019.0,1.0,A751,1.0,1.0,7.0

In [11]:
left.to_csv('./19rc_eda.csv', index=False)

### 이후 타겟 지정 후 저장

In [ ]:
dat_17 = pd.read_csv('./17rc_eda.csv')
dat_18 = pd.read_csv('./18rc_eda.csv')
dat_19 = pd.read_csv('./19rc_eda.csv')

print(pd.read_csv('./17rc_eda.csv').shape,
pd.read_csv('./18rc_eda.csv').shape,
pd.read_csv('./19rc_eda.csv').shape)

In [ ]:
data = pd.concat([dat_17,dat_18,dat_19], ignore_index=True)

In [ ]:
print(data.shape)
display(data.head())
display(data.tail())

In [ ]:
pd.options.display.float_format = '{:.2f}'.format
data.describe()

In [ ]:
data['target'] = 0

In [ ]:
data['target'].loc[ (data['INQ'].mean() * 0.5) > data['INQ'] ] = 1

In [ ]:
data['target'].loc[data['target'] == 1].sum()

In [ ]:
data.to_csv('./data_fin.csv', index=False)

print(
    b'\xc0\xcf\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xbf\xf9\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xc8\xad\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xbc\xf6\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xb8\xf1\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xb1\xdd\xbf\xe4\xc0\xcf'.decode('euc-kr'),
    b'\xc5\xe4\xbf\xe4\xc0\xcf'.decode('euc-kr')
)